.stats {
  align-items: flex-start;
  background-color: #efefef;
  border: 1px none;
  display: flex;
  width: 1528px;
}

.overlap-group {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  gap: 46px;
  height: 1024px;
  min-width: 1528px;
  padding: 0 28px;
}



.group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 33.0px;
  min-height: 851px;
  width: 201px;
}

.group-178 {
  align-items: center;
  display: flex;
  gap: 26px;
  height: 38px;
  margin-left: 4px;
  min-width: 197px;
}

.logo-shapes-7 {
  height: 32px;
  width: 39px;
}

.road-whiz {
  color: #121212;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  min-width: 130px;
}

.group-179 {
  cursor: pointer;
  display: flex;
  gap: 22px;
  margin-left: 2px;
  margin-top: 107px;
  transition: all 0.2s ease;
  width: 123px;
}

.group-179:hover,
.group-180:hover,
.group-182:hover,
.group-183:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.vuesaxboldelement-3,
.icon-bar_chart,
.icon-folder {
  height: 24px;
  width: 24px;
}

.overview {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  width: 75px;
}

.group-180 {
  cursor: pointer;
  display: flex;
  gap: 23.1px;
  height: 27px;
  margin-top: 52px;
  transition: all 0.2s ease;
  width: 92px;
}

.group {
  height: 23px;
  width: 24.92px;
}

.store {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3px;
  width: 42px;
}

.group-181 {
  display: flex;
  gap: 22px;
  margin-left: 2px;
  margin-top: 54px;
  width: 122px;
}

.statistics {
  color: #3c652f;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  width: 74px;
}

.overlap-group2 {
  height: 47px;
  margin-left: 2px;
  margin-top: 47px;
  position: relative;
  width: 115px;
}

.group-182 {
  cursor: pointer;
  display: flex;
  gap: 22px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 115px;
}

.courses {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  width: 67px;
}

.text {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.group-183 {
  cursor: pointer;
  display: flex;
  gap: 15px;
  margin-left: 22px;
  margin-top: 400px;
  transition: all 0.2s ease;
  width: 107px;
}

.vuesaxlinearlogin {
  height: 31px;
  width: 31px;
}

.log-out {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2px;
  width: 59px;
}

.overlap-group1 {
  align-items: flex-start;
  align-self: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 993px;
  padding: 31px 52px;
  width: 1225px;
}

.title {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 72px;
}

.lets-evaluate-how-y {
  color: #979ca5;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 23px;
}

